@model IEnumerable<Grades.Models.Subject>

<h2>Lista de Materias</h2>
<p>
    <a asp-action="Create">Crear Nueva Materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> | 
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>